.idea/
.neptune/
.pytest_cache/
.tox/
tmp/
production/comp_classify/
production/complaintClassify.egg-info/
production/dist/
production/classification_model/__pycache__/
production/classification_model/config/__pycache__/
production/classification_model/preprocessing/__pycache__/
production/classification_model/trained_models/*.joblib
production/classification_model/trained_models/*.h5
api/app/__pycache__/
api/comp_classify_api/
api/app/schemas/__pycache__/
api/app/tests/__pycache__/
research/.ipynb_checkpoints/
research/__pycache__/
research/.neptune/
research/complaints.csv
research/complaints.csv.zip
research/valid.csv
research/Bi-Directional-LSTM_model.h5
research/LSTM_model.h5
