.idea/
.neptune/
tmp/
research/complaints.csv
research/complaints.csv.zip
research/valid.csv
research/.ipynb_checkpoints/
research/__pycache__/
research/.neptune/
research/Bi-Directional-LSTM_model.h5
research/Bi-Directional-LSTM_test_classification_report.csv
research/Bi-Directional-LSTM_test_confusionmatrix.png
research/Bi-Directional-LSTM_train_classification_report.csv
research/Bi-Directional-LSTM_train_confusionmatrix.png
research/LSTM_model.h5
